.AddBalanceContainer {
  font-family: Open Sans, sans-serif;
}

.inputContainer {
  margin-top: 5px;
  display: flex;
  gap: 10px;
}

input {
  background-color: #fafafa;
  border: none;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 1px 3px 5px gray;
}

input:focus {
  outline: none;
}

.inputContainer > button {
  padding: 15px 19px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  box-shadow: 1px 3px 5px gray;
}

.addBalanceButton {
  background-color: #f4bb4a;
  color: white;
  font-weight: bold;
}

.cancelButton {
  background-color: #e3e3e3;
}
